body {
    background: black;
    color: white;
    margin: auto;
    text-align: center;
    height: 100%;
    width: 100%;
}



/*  Totally screws with my pixel determined padding for literally every other element.  
Need to figure out a better way to relate elements to one another regarding positioning.

h1.title {
    font-size: 4em;
}

p.maze-rules {
    font-size: 2em;
    padding-bottom: 20px;
}
*/

#maze-box {
    position: relative;
    margin: auto;
    height: 820px;
    width: 1620px;
    border-style: solid;
    border-color: white;
    border-width: 10px;
}

#start-here {
    position: absolute;
    left: 25px;
    font-size: 2em;
}

#finish-here {
    position: absolute;
    left: 1475px;
    bottom: 10px;
    font-size: 2em;
}

#person {
    position: absolute;
    margin-left: 12.5%;
    margin-top: 1.5%;
}

#my-rows {
    position: relative;
    top: 100px;
    max-width: 1620px;
}

.row {
    border-top: solid;
    border-width: 10px;
    border-color: white;
    padding-top: 92.5px;
}

#row-1 {
    width: 1490px;
    border-right: solid;
    border-width: 10px;
}

#row-2 {
    width: 1380px;
    margin-left: 120px;
}

#row-3, #row-6 {
    width: 1500px;
}

#row-4, #row-7 {
    width: 1500px;
    margin-left: 120px;
}

#row-5 {
    width: 1370px;
    margin-left: 120px;
    border-right: solid;
    border-width: 10px;
}


/*#maze-path {
    display:grid;
} */